form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    width: 30%;
    border: 1px solid rgba(129, 126, 126, 0.01);
    border-radius: 8px;
    box-shadow: 5px 5px 7px 5px rgba(50, 50, 53, 0.33);
  }

  /* anfwekvneopwfni2nfoqi2gqhoi2jgho3gh24oiqg */
  /* efjwejgoj3igno3ig3qignoi3ogij3ogjo3igji3g */
  
  .container-inputs{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .container-inputs input, button {
    width: 100%;
    height: 5px;
    padding: 12px 2px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgba(255,255,255,0.01);
    border-radius: 20px;
    box-sizing: border-box;
    outline: none;
    text-align: center;
  }
  
  .container-inputs .container-button {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .container-inputs .container-button button {
    background-color: #4CAF50;
    padding-top: 8px;
    padding-bottom: 26px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .cancelbtn {
    width: 30%;
    padding-top: 8px;
    padding-bottom: 26px;
    background-color: #f44336;
  }
  
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  .container {
    /* margin-top: 2rem; */
    padding: 16px;
    width: 100%;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }
  
  @media (max-width: 768px){
    form {
      margin-left: auto;
      margin-right: auto;
      margin-top: 3rem;
      width: 85%;
      border: 1px solid rgba(255,255,255,0.01);
      border-radius: 8px;
    }
  }
  
  @media (max-width: 760px){
    form {
      margin-left: auto;
      margin-right: auto;
      margin-top: 3rem;
      width: 60%;
      border: 1px solid rgba(255,255,255,0.01);
      border-radius: 8px;
    }
  }
  
  @media (max-width: 620px){
    form {
      margin-left: auto;
      margin-right: auto;
      margin-top: 4rem;
      width: 70%;
      border: 1px solid rgba(255,255,255,0.01);
      border-radius: 8px;
    }
  }
  
  @media (max-width: 600px){
    form {
      margin-left: auto;
      margin-right: auto;
      margin-top: 3rem;
      width: 90%;
      border: 1px solid rgba(255,255,255,0.01);
      border-radius: 8px;
    }
  }
  
  @media (max-width: 360px){
    form {
      margin-left: auto;
      margin-right: auto;
      margin-top: 6rem;
      width: 90%;
      border: 1px solid rgba(255,255,255,0.01);
      border-radius: 8px;
    }
  }

  .example-container {
    /* width: 100%; */
    /* height: 100%; */
    padding-top: 5.8%;
    padding-bottom: 5%;
    background: url("https://raw.githubusercontent.com/dev-wow-20/fonn/master/fondo.png")
      no-repeat;
    background-size: cover;
    position: relative;
  }

  @media (max-width: 768px) {
    .example-container {
      /* height: 100%; */
      /* padding-top: 7rem; */
      /* padding-top: 9.1%;
      padding-bottom: 10%; */
      background: url("https://raw.githubusercontent.com/dev-wow-20/fonn/master/fondo.png")
        no-repeat;
    }
  }

  @media (max-width: 760px) {
    .example-container {
      /* height: 100%; */
      /* padding-top: 7rem; */
      /* padding-top: 9.8%;
      padding-bottom: 10.6%; */
      background: url("https://raw.githubusercontent.com/dev-wow-20/fonn/master/fondo.png")
        no-repeat;
    }
  }

  @media (max-width: 620px) {
    .example-container {
      /* height: 100%;
      /* padding-top: 7rem; */
      /* padding-top: 4%;
      padding-bottom: 18%; */
      background: url("https://raw.githubusercontent.com/dev-wow-20/fonn/master/fondo.png")
        no-repeat;
    }
  }

  